@mixin dot {
    width: .25rem;
    height: .25rem;
    background: $gray-500;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}
.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: $zindex-fixed;
}
.section {
    padding: 2rem 0;
    &-header {
        margin-bottom: 2rem;
        &--alt {
            display: flex;
            flex-direction: column;
            justify-content: center;
            &-column {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
    &-header__title {
        font-weight: 700;
    }
    &-header__text {
        color: $gray-600;
        font-size: 1.125rem;
    }
}
.rating {
    margin-bottom: .8rem;
    i {
        font-size: 1rem;
    }
}
.promo {
    background-image: url('../img/promo-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 7rem;
    overflow: initial;
    &.replace {
        background-image: url('../img/promo-bg_preview.png');
    }
    &-banner {
        height: calc(100vh - 86px);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h1 {
        @include rfs(5rem);
        color: #fff;
        font-weight: 700;
        max-width: 970px;
        margin: auto;
        text-align: center;
        line-height: 1;
    }
    form {
        background: #fff;
        border-radius: 1rem;
        padding: 2.5rem;
        box-shadow: $box-shadow-lg;
        margin: 0 auto -5.5rem auto;
        @include media-breakpoint-up(md) {
            display: flex;
            align-items: center;
            max-width: 1000px;
        }
    }
    .form-group {
        flex-grow: 1;
        position: relative;
        margin-right: 0;
        margin-bottom: 2rem;
        @include media-breakpoint-up(md) {
            margin-right: 30px;
            margin-bottom: 0;
        }
    }
    label {
        color: $gray-400;
        position: absolute;
        top: 0.25rem;
        pointer-events: none;
        padding-left: 0.125rem;
        z-index: 1;
        color: #b3b3b3;
        transition: all 0.28s ease;
    }
    .form-control {
        background: transparent;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        padding-right: 0.125rem;
        padding-left: 0.125rem;
    }
    .bar {
        position: relative;
        border-bottom: 0.0625rem solid $gray-300;
        display: block;
        &::after {
            content: '';
            height: 0.125rem;
            width: 0;
            left: 50%;
            bottom: -0.0625rem;
            position: absolute;
            background: $primary;
            transition: left 0.28s ease, width 0.28s ease;
            z-index: 2;
        }
    }
    .form-group.focused label {
        font-size: 0.8rem;
        color: $primary;
        top: -1rem;
        left: 0;
    }
    .form-group.focused .bar::after {
        width: 100%;
        left: 0;
    }
    .btn {
        white-space: nowrap;
        + .btn {
            margin-left: 1rem;
        }
    }
}

.adventures-pick {
    padding-bottom: 1rem !important;
    .section-header {
        max-width: 770px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    .section-content {
        border-bottom: 1px solid $gray-300;
        padding-bottom: 2rem;
    }
}
.package {
    text-decoration: none!important;
    border: 0;
    position: relative;
    transition: color 250ms linear;
    color: $body-color;
    &:hover {}
    &-destination {
        font-weight: 600;
        color: $primary;
    }
    &-title {
        font-weight: 500;
    }
    &-duration {
        position: relative;
        padding-left: 13px;
        &::before {
            content: "";
            position: absolute;
            left: 3px;
            top: 50%;
            transform: translateY(-50%);
            @include dot;
        }
    }
    &-rate {
        color: $body-color;
    }
    .badge {
        position: absolute;
        right: .75rem;
        top: .75rem;
        font-size: 1rem;
        padding: .5rem 1rem;
        text-transform: uppercase;
    }
    .figure-img {
        margin-bottom: 1rem;
    }
    .card-body {
        padding: 0;
    }
}

.fixed-departure {
    .card {
        text-decoration: none !important;
        transition: box-shadow 250ms linear;
        &:hover {
            box-shadow: $box-shadow;
            figcaption {
                opacity: .8;
            }
        }
        .btn {
            margin-top: 1rem;
            width: 100%;
        }
    }
    .card-title {
        color: $body-color;
    }
    .figure-img {
        position: relative;
    }
    figcaption {
        position: absolute;
        top: 3rem;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 1rem;
        text-align: center;
        color: #fff;
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        display: flex;
        align-items: flex-end;
        justify-content: center;
        transition: opacity 250ms linear;
    }
}
.more-link {
    margin-top: 1rem;
    .btn-link {
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        i {
            transform: translateX(2px);
            transition: transform 250ms ease;
        }
        &:hover {
            i {
                transform: translateX(6px);
            }
        }
    }
}
.popular-trek {
    .badge {
        position: absolute;
        left: 0;
        top: .75rem;
        font-size: 1rem;
        padding: .5rem 1rem;
        border-radius: 0 .25rem .25rem 0;
    }
    .card {
        border: 0;
        text-decoration: none !important;
        color: $body-color;
    }
    .card-body {
        padding: 0;
    }
    .card-title {
        
    }
    .rating {
        color: $primary;
    }
    .package-rate {
        
    }
    .package-trip {
        font-size: 80%;
        color: $gray-600;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.our-features {
    padding: 3.5rem 0;
    background: $primary;
    .card {
        border: 0;
        background: rgba(255, 255, 255, .1);
        color: #fff;
        height: 100%;
        transition: box-shadow 250ms ease;
        &:hover {
            box-shadow: $box-shadow;
        }
    }
    .card-body {
        padding: 1.75rem;
    }
    .card-title {
        font-size: 1rem;
        font-weight: bold;
    }
    figure {
        padding: 2rem 0;
        i {
            font-size: 4.375rem;
        }
    }
}
.section-header--our-features {
    .section-header__title {
        color: #fff;
    }
    .section-header__text {
        color: #fff;
    }
}

.our-journey {
    padding-top: 4.87rem;
    h2 {
        font-weight: 700;
    }
    h6 {
        text-transform: uppercase;
        font-weight: bold;
    }
}
.blog {
    &-item {
        color: $body-color;
        text-decoration: none !important;
        margin-bottom: 30px;
        display: flex;
        @include media-breakpoint-up(md) {
            padding-right: 1rem;
        }
    }
    .img-fluid {
        width: 100%;
    }
    &-title {
        font-weight: 700;
        margin-bottom: 0.625rem;
        
    }
    &-text {
        color: $body-color;
        margin-bottom: 0.625rem;
    }
    &-user {
        position: relative;
        padding-left: 13px;
        &::before {
            content: "";
            position: absolute;
            left: 3px;
            top: 50%;
            transform: translateY(-50%);
            @include dot;
        }
    }
}
.videos {
    .media {
        color: $body-color;
        text-decoration: none !important;
        display: flex;
        margin-bottom: 30px;
        &:hover {
            .btn-play {
                transform: translate(-50%, -50%) scale(1.2);
            }
        }
    }
    figure {
        position: relative;
    }
    .btn-play {
        width: 3rem;
        height: 3rem;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: transform 250ms linear;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            font-size: 3rem;
        }
    }
}

.reviews {
    h5 {
        font-weight: 700;
    }
    .rating {
        color: $primary;
    }
    .more-link {
        margin-top: 0;
        text-align: center;
    }
    .card-body {
        padding: 1.75rem;
    }
    .section-header {
        text-align: center;
    }
}
.reviewer {
    .text-muted {
        margin-left: .75rem;
    }
}
.swiper-container-horizontal {
    padding-bottom: 3.5rem;
}
.swiper-pagination-bullet-active {
    background: $primary;
}
.swiper-button-next, .swiper-button-prev {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    box-shadow: $box-shadow-sm;
    background: #fff;
    color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    transition: box-shadow 250ms ease;
    &:hover {
        box-shadow: $box-shadow;
    }
    &::after {
        font-family: 'remixicon' !important;
        font-style: normal;
        -moz-osx-font-smoothing: grayscale;
    }
}
.swiper-button-next {
    &::after {
        content: "\ea5f";
    }
}
.swiper-button-prev {
    &::after {
        content: "\ea55";
    }
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
    visibility: hidden;
}

.subscription {
    padding: 3.4rem 0;
    background: $gray-600 url('../img/subscription-banner.png') no-repeat center;
    background-size: cover;
    color: #fff;
    h5 {
        font-weight: 700;
    }
    .section-content {
        max-width: 630px;
        margin: auto;
        text-align: center;
    }
    form {
        max-width: 400px;
        margin: auto;
    }
}
.recommendation {
    .section-content {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    text-align: center;
    h6 {
        font-weight: 700;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    a {
        display: inline-block;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
.footer {
    background: #FBFBFB;
    border-top: 1px solid $gray-200;
    h6 {
        font-weight: 700;
    }
    &-top {
        padding: 3.75rem 0;
        li {
            margin-bottom: .5rem;
        }
        a {
            color: $body-color;
        }
    }
    &-bottom {
        border-top: 1px solid $gray-200;
        padding: 3.75rem 0;
        color: $gray-600;
        a {
            color: $gray-600;
        }

        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            @include media-breakpoint-up(md) {
                align-items: center;
                flex-direction: row;
            }
        }
        &__content {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            align-items: center;
            text-align: center;
            @include media-breakpoint-up(md) {
                flex-grow: 1;
                align-items: center;
                flex-direction: row;
                margin-bottom: 0;
                text-align: left;
            }
        }
        &__brand {
            @include media-breakpoint-up(md) {
                margin-right: 3.1rem;
            }
        }
        &__text {
            flex-grow: 1;
        }
    }
}
.social {
    li {
        margin: 0 .5rem;
    }
    a {
        display: inline-block;
        text-decoration: none;
    }
    i {
        font-size: 1.5rem;
    }
}
body {
    font-weight: 300;
}
.btn-outline-secondary {
    border-color: $gray-300;
}
[class^="remixicon-"], [class*=" remixicon-"] {
    font-size: 24px;
    line-height: 1;
    vertical-align: middle;
}
